In [2]:
import pandas as pd
df_produtos = pd.DataFrame({'nome': ['ovos', 'manteiga', 'peixe'],
                   'valor': [10, 20, 30]})
df_produtos

       nome  valor
0      ovos     10
1  manteiga     20
2     peixe     30

In [1]:
import sqlite3

In [3]:
#conectar ao banco de dados

conn = sqlite3.connect('coderhouse1.db')

# Escreva o DataFrame na tabela 'produtos'

df_produtos.to_sql('produtos', conn, if_exists='replace', index=False)

# Fecha a conex√£o com o banco de dados 

conn.close()